<div class="filter-container">
  <div class="group">
    <kendo-formfield>
      <kendo-dropdownlist [(ngModel)]="filters.machine" [data]="machines" [defaultItem]="'Select Machine'">
      </kendo-dropdownlist>
    </kendo-formfield>

    <kendo-formfield>
      <kendo-dropdownlist [(ngModel)]="filters.property" [data]="properties" [defaultItem]="'Select Property'">
      </kendo-dropdownlist>
    </kendo-formfield>
  </div>

  <div class="group">
    <kendo-formfield>
      <kendo-datepicker [(ngModel)]="filters.startDate" placeholder="Start Date"></kendo-datepicker>
    </kendo-formfield>

    <kendo-formfield>
      <kendo-datepicker [(ngModel)]="filters.endDate" placeholder="End Date"></kendo-datepicker>
    </kendo-formfield>
  </div>

  <!-- <div class="numeric-container">
    <label for="minValue">Min Value</label>
    <kendo-numerictextbox id="minValue" [(ngModel)]="filters.minValue" placeholder="Enter Min Value">
    </kendo-numerictextbox>
  </div>

  <div class="numeric-container">
    <label for="maxValue">Max Value</label>
    <kendo-numerictextbox id="maxValue" [(ngModel)]="filters.maxValue" placeholder="Enter Max Value">
    </kendo-numerictextbox>
  </div> -->

  <div class="group">
    <button kendoButton (click)="resetFilters()" themeColor="secondary">
      Reset Filters
    </button>
    <button kendoButton (click)="applyFilters()" themeColor="primary">
      Apply Filters
    </button>
  </div>
</div>

<!--TABLE--------------------------------------------------->
<!-- <div *ngIf="deviceData.length > 0">
  <kendo-grid [data]="gridData" [pageSize]="pageSize" [skip]="skip" [pageable]="true" [sortable]="true"
    (pageChange)="onPageChange($event)">
    <kendo-grid-column field="machine" title="Machine"></kendo-grid-column>
    <kendo-grid-column field="property" title="Property"></kendo-grid-column>
    <kendo-grid-column field="value" title="Value"></kendo-grid-column>
    <kendo-grid-column field="timestamp" title="Timestamp"></kendo-grid-column>
  </kendo-grid>
</div>

<kendo-chartwizard [data]="wizardData"> </kendo-chartwizard> -->

<!--STATISTICS--------------------------------------------------->
<div *ngIf="deviceData.length > 0">
  <kendo-chart  [transitions]="false" [categoryAxis]="{ categories: date, title: { text: 'Date' } }">
    <!-- Chart Title -->
    <kendo-chart-title [text]=columnChartTitle></kendo-chart-title>
  
    <!-- Default Series Settings -->
    <kendo-chart-series-defaults type="column">
      <kendo-chart-series-defaults-labels [visible]="true" format="{0}" position="outsideEnd">
      </kendo-chart-series-defaults-labels>
    </kendo-chart-series-defaults>
  
    <!-- Series Data -->
    <kendo-chart-series>
      <kendo-chart-series-item [data]="minValue" name="Min Value" color="#4CAF50">
      </kendo-chart-series-item>
      <kendo-chart-series-item [data]="maxValue" name="Max Value" color="#F44336">
      </kendo-chart-series-item>
      <kendo-chart-series-item [data]="avgValue" name="Avg Value" color="#2196F3">
      </kendo-chart-series-item>
    </kendo-chart-series>
  
    <!-- Value Axis with Title -->
    <kendo-chart-value-axis>
      <kendo-chart-value-axis-item [title]="{ text: 'Values' }">
      </kendo-chart-value-axis-item>
    </kendo-chart-value-axis>
  
    <!-- Legend -->
    <kendo-chart-legend position="bottom"></kendo-chart-legend>
  
    <!-- Tooltip -->
    <kendo-chart-tooltip format="{0}" [visible]="true"></kendo-chart-tooltip>
  </kendo-chart>
  
  

  <kendo-chart [categoryAxis]="{ categories: date }">
    <kendo-chart-series-defaults type="bar">
      <kendo-chart-series-defaults-labels format="{0}">
      </kendo-chart-series-defaults-labels>
    </kendo-chart-series-defaults>

    <kendo-chart-series>
      <kendo-chart-series-item [data]="minValue"> </kendo-chart-series-item>
      <kendo-chart-series-item [data]="maxValue"> </kendo-chart-series-item>
      <kendo-chart-series-item [data]="avgValue">
      </kendo-chart-series-item>
    </kendo-chart-series>
  </kendo-chart>


  <kendo-chart [categoryAxis]="{categories: date}">
    <kendo-chart-series-defaults type="line">
      <kendo-chart-series-defaults-labels format="{0}">
      </kendo-chart-series-defaults-labels>
    </kendo-chart-series-defaults>
    <kendo-chart-series>
      <kendo-chart-series-item [data]="avgValue" [labels]="seriesLabels">
      </kendo-chart-series-item>
      <kendo-chart-series-item [data]="minValue" [labels]="seriesLabels">
      </kendo-chart-series-item>
      <kendo-chart-series-item [data]="maxValue" [labels]="seriesLabels">
      </kendo-chart-series-item>
    </kendo-chart-series>
  </kendo-chart>
</div>